@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title </h2>
<h3>Mail us for further query.</h3>


<address>
    <ul>
        <li><a href="mailto:bagadahardik2000@gmail.com">Hardik Bagada</a></li>
        <li><a href="mailto:mahendrasinhbarad123@gmail.com">Mahendrasinh Barad</a></li>
        <li><a href="mailto:anshumanaich99@gmail.com">Anshuman Aich</a></li>
    </ul>
</address>